# Environment files
.venv/
.vscode/

# Python compiled files
__pycache__/
*.pyc

# Downloaded data and saved models
cache/

# Results files
results/

# note (delete these in the final submission)
NOTE.txt
.tmp.drivedownload
desktop.ini